<section>
  <h2>
    About Jungle
  </h2>
  <p>
    <h5>
      Jungle is a mini e-commerce application built using Rails.
      It allows users to view and purchase products with Stripe verification.
      Admins can add new products and categories.
    </h5>
  </p>
</section>
